.countdown {
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 70px;
    @media (max-width: 1750px) {
        margin-top: 110px;
    }
}

.countdown__unit {
    font-weight: 900;
    font-size: 28px;
}

.countdown__measure {
    font-weight: 200;
}