.main{
    width: 67%;
    padding: var(--container);
    margin-left: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}

.main__heading {
    font-weight: 300;
    margin-bottom: 50px;
}

.main__heading--b {
    font-weight: 700;
}