.trip {
    border: 2px solid var(--light-grey);
    width: 220px;
    height: 300px;
    transition: all ease 0.2s;
    cursor: pointer;
    position: relative;

    /*@media  (max-width: 1800px) {*/
    /*    width: 190px;*/
    /*    height: 240px;*/
    /*}*/
}


.trip:hover {
    border: 2px solid var(--grey--transparent);
}

.trip:active {
    border-color: var(--grey);
}


.trip--active  {
    border-color: var(--bright-blue);
}

.trip__img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    background-position: center center;
    /*@media  (max-width: 1800px) {*/
    /*    height: 170px;*/
    /*}*/
}

.trip__delete {
    background-image: url('assets/icons/icon-close.svg');
    width: 20px;
    height: 20px;
    position: absolute;
    border: none;
    transition: all ease 0.1s;
    top: 10px;
    right: 10px;
    filter: contrast(150%)
}

.trip__delete:hover {
    opacity: 0.6;
}

.trip__info {
    padding: 20px;
    /*@media  (max-width: 1800px) {*/
    /*    padding: 10px;*/
    /*}*/
}

.trip__city-name {
    margin-bottom: 10px;
    font-size: 16px;
}

.trip__dates {
    font-size: 14px;
    color: var(--grey);
    /*@media  (max-width: 1800px) {*/
    /*    font-size: 12px;*/
    /*}*/
}